.dropdown-toggle {
    cursor: pointer;
}

/* .navbar {
    z-index: 1000;
    /* Ensure navbar is above other content */
/*} */

.custom-badge {
    font-size: 1rem;
    /* Adjust the font size as needed */
}