<div class="position-sticky top-70">
    <div class="list-group">
        <a class="list-group-item list-group-item-action" [class.active]="!category" routerLink="/">
            <b>All Categories</b>
        </a>
        <a *ngFor="let c of categories$ | async" routerLink="/" [queryParams]="{ category: c.key }"
            class="list-group-item list-group-item-action" [class.active]="category === c.key">
            {{ c.name }}
        </a>
    </div>
</div>


<!-- class="position-sticky top-70" Perdorur per te bere stop Listes se Kategorive -->